@tailwind base;
@tailwind components;
@tailwind utilities;
/* Font Variables Start*/
@font-face {
    font-family: all-round-gothic-bold;
    src: url(../font/All-Round-Gothic-W01-Bold.ttf);
}
@font-face {
    font-family: all-round-gothic-book;
    src: url(../font/All-Round-Gothic-W01-Book.ttf);
}
@font-face {
    font-family: popin-regular;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: popin-semibold;
    src: url(../font/Poppins-SemiBold.ttf);
}
/* Font Variables End*/
/* Canvas CSS Start */
.banner_canvas {
  background-color: white !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -999;
}
/* Canvas CSS End  */
/* Website CSS start */
body {
    color: white;
  
}
.bg-image{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.canvas-position {
    position: relative;
    z-index: 999;
   
}
.heading {
    font-family: all-round-gothic-bold !important;
}
.subheading {
    font-family: all-round-gothic-book !important;
}
.bodytext{
    font-family: popin-regular;
    color: #A2A2A2 !important;
}
.bodytext2{
    font-family: popin-semibold;
    color: white !important;
}
/* Website CSS End */
/* Navbar css start */
.show {
  display: block;
}
/* Navbar css end */
/* Hero Section CSS Start*/
.hero-glow {
    background: linear-gradient(231.18deg, #FF3F23 15.85%, #FFCA54 25.87%, #FF953C 36.96%, #FE652D 48.77%, #FA589D 58.43%, #9D36FC 68.45%, #2FD8D8 79.9%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  background-size: 200%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* Hero Section CSS end*/
/* Service section start */
custom-carousel {
  position: relative;
}

.custom-carousel-inner {
  display: flex;
}

.custom-carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -6%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  color: red;
}
/* Services section end */
/* our project section start */
.bg-color-card1{
  background: var(--linear-5, linear-gradient(252deg, #F356A5 0%, #FE4029 48.96%, #FE4E07 100%));
}
.bg-color-card2{
  background: var(--linear-3, linear-gradient(108deg, #A338F7 0%, #F356A5 53.66%, #FF3F23 98.79%));

}
.bg-color-card3{
  background: var(--linear-1, linear-gradient(108deg, #FE652D 0%, #FFCA54 47.4%, #FF953C 100%));
}
/* our project section end */
/* review section css start */
.border-color{
  border-radius: 80px;
  border: 1px solid var(--logo-linear, linear-gradient(231.18deg, #FF3F23 15.85%, #FFCA54 25.87%, #FF953C 36.96%, #FE652D 48.77%, #FA589D 58.43%, #9D36FC 68.45%, #2FD8D8 79.9%));
  background: linear-gradient(231deg, rgba(255, 63, 35, 0.04) 15.85%, rgba(255, 202, 84, 0.04) 25.87%, rgba(255, 149, 60, 0.04) 36.96%, rgba(254, 101, 45, 0.04) 48.77%, rgba(250, 88, 157, 0.04) 58.43%, rgba(157, 54, 252, 0.04) 68.45%, rgba(47, 216, 216, 0.04) 79.9%);
}
.border-color-2{
  border-radius: 80px;
  border: 1px solid var(--logo-linear, linear-gradient(231.18deg, #FF3F23 15.85%, #FFCA54 25.87%, #FF953C 36.96%, #FE652D 48.77%, #FA589D 58.43%, #9D36FC 68.45%, #2FD8D8 79.9%));
  background: linear-gradient(231deg, rgba(255, 63, 35, 0.04) 15.85%, rgba(255, 202, 84, 0.04) 25.87%, rgba(255, 149, 60, 0.04) 36.96%, rgba(254, 101, 45, 0.04) 48.77%, rgba(250, 88, 157, 0.04) 58.43%, rgba(157, 54, 252, 0.04) 68.45%, rgba(47, 216, 216, 0.04) 79.9%);

}
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 13%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
@media (max-width: 320px){
  .carousel-indicators {
    bottom: -2%;
}

}
@media (max-width: 480px){
  .carousel-indicators {
    bottom: -2%;
}

}
@media (max-width: 768px){
  .carousel-indicators {
    bottom: -2%;
}

}
/* review section css end */
/* Team section CSS start */
.container {
    width: min(1200px, 90%);
    margin: max(16vmin, 50px) auto max(25vmin, 100px);
  }
  

  
  .member {
    position: relative;
    list-style: none;
    border-top: 1px solid #c9c9c9;
  
    &:last-of-type {
      border-bottom: 1px solid #c9c9c9;
    }
  }
  
  .member-link {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  
    &:focus {
      outline-offset: -1px;
    }
  }
  
  .member-photo {
    position: absolute;
    height: 135%;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;
  }
  
  .member-name {
    font-size: 60px;
    font-weight: 400;
    transition: 0.35s ease-out;
  }
  
  .member:hover .member-name {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  
  .member-role {
    font-size: 18px;
    font-weight: 500;
    transition: 0.35s ease-out;
  }
  
  .member:hover .member-role {
    opacity: 0.5;
    transform: translateX(10px);
  }
  
  @media (max-width: 1023px) {
    h1 {
      margin: 0 35px 35px;
      font-size: 15px;
    }
  
    .member-link {
      padding: 35px 35px;
    }
  
    .member-name {
      font-size: 35px;
    }
  
    .member-role {
      font-size: 16px;
    }
  }
  
  @media (max-width: 767px) {
    h1 {
      margin: 0 10px 20px;
      font-size: 14px;
    }
  
    .member-link {
      padding: 20px 10px;
    }
  
    .member-name {
      font-size: 25px;
    }
  
    .member-role {
      font-size: 15px;
    }
  }
  
  
/* Team section CSS end */
/* Animations css start */
/* Text animaiton start */
.text-animation {
    color: white;
}
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
.fade-out {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* Text animation end  */
/* Text hower animation Start*/
.hover-animation {
    color: white;
}
.hover-animation:hover{
    overflow: hidden;
    background: linear-gradient(231.18deg, #FF3F23 15.85%, #FFCA54 25.87%, #FF953C 36.96%, #FE652D 48.77%, #FA589D 58.43%, #9D36FC 68.45%, #2FD8D8 79.9%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    background-position: 100%;
    transition: background-position 300ms ease-in-out;
    text-decoration: none;
    &:hover {
      background-position: 100% 100%;
    }
}
  
/* Text Hower animation end */
/* Rotate animation start */

/* Rotate animation end */
/* button animation start */

.glow,
.glow2 {
  width: 175px;
  height: 58px;
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(231.18deg, #FF3F23 15.85%, #FFCA54 25.87%, #FF953C 36.96%, #FE652D 48.77%, #FA589D 58.43%, #9D36FC 68.45%, #2FD8D8 79.9%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;
}
.glow2 {
  position: relative;
  margin-top: -70px;
  z-index: -1;
  filter: blur(30px);
  opacity: 0.8;
}
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* button animation end */

.fancy {
    position: relative;
   width: auto;
   height: auto;
    display: flex;
    color: #2FD8D8;
  
  }
  .fancy i {
    position: absolute;
    inset: 0;
   
    transition: 0.5s;
  }
  .fancy i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }
  .fancy i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }
  .fancy i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }
  .fancy:hover i {
    border: 4px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
/* Animation Css end  */